<%if(utilities.length){%>
    <h3 class="group-title"><%-lng(title)%></h3>
    <div layout="row" layout-wrap layout-align="start stretch">

        <%for(var utility of utilities){%>
            <div class="layout-padding" flex="25">
                <md-card class="utility">
                    <a ng-href="<%-get_path(utility.path)%>">
                        <div layout="column">
                            <md-card-title>
                                <md-card-title-text layout="row" layout-align="start center">
                                    <%if(utility.icon){%>
                                        <md-icon md-svg-src="<%-get_icon(utility.icon)%>"></md-icon>
                                    <%}%>
                                    <span flex="100" class="md-headline"><%-lng(utility.title)%></span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content flex="100">
                                <p>
                                    <%-lng(utility.description)%>
                                </p>
                            </md-card-content>
                        </div>
                    </a>
                </md-card>
            </div>
        <%}%>
    </div>
<%}%>
