<div ng-form="dataForm" class="md-padding page-data">
    <div ng-repeat="field in template.fields" ng-if="page.data[field.name]" ng-init="key=field.name;data=page.data[key];parent=page.data;" class="data-node" ng-class="{readonly:field.readonly,contracted:data._expanded}">
        <div edit-item-menu layout="row" class="header" layout-align="left center">
            <%-template('edit/content/label',{model:'edit.lng(field.title)||key'})%>
            <%-template('edit/content/fields-inline')%>
            <%-template('edit/content/expander',{if:"field.type=='array'"})%>
            <%-template('edit/content/contributors')%>
        </div>

        <%-template('edit/content/fields-standard',{attr:'class="data-field"'})%>

    </div>
    <div layout="row">
        <md-button class="property" ng-click="addValue({type:'object',fields:template.fields},page.data,key)" ng-init="key=field.name" ng-repeat="(index,field) in template.fields" ng-if="!page.data[field.name]">
          <span>{{field.title?edit.lng(field.title):key}}</span>
        </md-button>
    </div>
</div>
