<%
  var model = locals.model = locals.model || 'account';
  var ngStyle = `ng-style="{'background-image': background?'url(' + background + ')':null}"`
  var attr = `ag-account-picture ng-model="${model}"`;
  var elmClass = 'ag-account-picture';
%>

<%if(locals.click){%>

<md-button
class="md-fab md-primary <%-elmClass%>"
ng-click="<%-locals.click%>"
<%-ngStyle%>
<%-attr%>
aria-label="Account">
<%-template('ui/account-picture/icon',locals)%>
</md-button>

<%}else{%>

  <div
  layout="column"
  layout-align="center center"
  <%-attr%>
  <%-ngStyle%>
  class="<%-elmClass%>"
  >
  <%-template('ui/account-picture/icon',locals)%>
  </div>

<%}%>
