<%

var item = _.extend({},data);
var hasRole;

if(data.page){
  item = _.extend(data,get_page(data.page));
}
var url = item.href_full;
var itemAttr = '';

if(item.href_full){
  itemAttr = 'target="_blank"';
}

if(!url && item.path){
  url = get_path(item.path);
}

%>


<div class="page-card" class="page-card" layout="column" has-role='<%-JSON.stringify(item.authorization)%>'>
  <%-template('ui/lock')%>
  <div class="container">

    <div class="header" layout="row">
      <%if(item.icon){%>
        <div>
        <md-icon aria-label="<%-lng(item.title)%>" class="card-icon" md-svg-src="<%-get_icon(item.icon)%>">
        </md-icon>
        </div>
        <%}%>

        <div layout="column">
          <a <%-itemAttr%> ng-href="<%-url%>">
            <span class="md-headline"><%-lng(item.title)%></span>
          </a>
          <span class="md-subhead"><%-lng(item.description)%></span>
        </div>

      </div>
      <div layout="column">

        <%
        if(data.menu){

          for(var menuItem of data.menu){

            var option = menuItem;
            var optionURL = null;
            var optionAttr = '';

            if(menuItem.page){
              option = get_page(menuItem.page);
            }

            if(option.href_full){
              optionURL = option.href_full;
              optionURL = render(optionURL);
              optionAttr = 'target="_blank"';
            }

            if(!optionURL){
              optionURL = option.path && get_path(option);
            }

            %>
            <div class="menu">
            <%if(optionURL){%>

              <md-list-item <%-optionAttr%> ng-href="<%-optionURL%>" >

              <%if(option.icon){%>
                <md-icon md-svg-src="<%-get_icon(option.icon)%>"></md-icon>
                <%}%>

                <span flex="auto"><%-lng(option.title)%></span>

                <%if(menuItem.menu){
                  for(var item of menuItem.menu){
                    var page = get_page(item.page);
                    %>
                    <md-button class="option-item md-raised" ng-href="<%-get_path(page)%>"><%-lng(item.title||page.title)%></md-button>
                <%}%>
                <%}%>

                </md-list-item>

                <%}else{%>
                  <span><%-lng(option.title)%></span>
                  <%}%>

                  </div>

                  <%}}%>
                </div>

                <span flex="auto"></span>

                <div layout="row" layout-align="end center">
                  <md-button class="md-primary" <%-itemAttr%> ng-href="<%-url%>" >
                    <md-icon aria-label="more" md-svg-src="<%-get_icon('material/add')%>">
                    </md-icon>
                    <span>More</span>
                  </md-button>
                </div>

              </div>
            </div>
