<div ag-tabs layout="column">
  <div ng-init="activeSection='<%-locals.default||page.defaultSection%>'" class="layout-wrap ui-tabs" layout="row" layout-align="start center">
    <%for(var section of locals.list){%>
      <md-button class="item" ng-class="{active:activeSection=='<%-section.name%>'}" ng-click="select('<%-section.name%>')">
        <%-lng(section.title)%>
      </md-button>
      <%}%>
  </div>

  <div>
    <%for(var section of locals.list){%>
      <script type="text/ng-template" id="ui-tab-<%-section.name%>.html">
        <%-template(path.join(locals.location,section.name))%>
      </script>
      <%}%>
  </div>
</div>
