<%
  var tabs = uiTabs();
%>

<div ag-tabs name="<%-tabs.name%>" layout="column">
  <div
  <%-tabs.attrId%>
  ng-init="activeSection='<%-locals.default||page.defaultSection%>'"
  class="layout-wrap ui-tabs"
  layout="row"
  layout-align="<%-tabs.align%> center">
    <%for(var section of tabs.templates){%>
      <div class="item" ng-class="{active:activeSection=='<%-section.name%>'}" ng-click="select('<%-section.name%>')">
        <%-lng(section.title)%>
      </div>
      <%}%>
  </div>

  <div ng-include="'ui-<%-tabs.name%>-'+activeSection+'.html'">
  </div>

    <%for(var section of tabs.templates){
      %>
      <script type="text/ng-template" id="ui-<%-tabs.name%>-<%-section.name%>.html">
        <%-template(section.path,{data:section.data})%>
      </script>
      <%}%>
</div>
