<%
  var tabs = uiTabs();
  if(!tabs.name){
    throw new Error('Must have a tab name');
  }
  var tab = `tabs['${tabs.name}']`;
%>

<div ag-tabs name="<%-tabs.name%>" default="<%-locals.default||page.defaultSection%>" layout="column">
  <div
  <%-tabs.attrId%>
  class="layout-wrap ui-tabs"
  layout="row"
  layout-align="<%-tabs.align%> center">
    <%for(var section of tabs.templates){
      var show = null;
      if(section.show){
        show=`ng-show="${section.show}"`;
      }
      %>
      <div
      class="item"
      ng-class="{active:<%-tab%>.activeSection=='<%-section.name%>'}"
      ng-click="<%-tab%>.select('<%-section.name%>')"
      <%-show%>
      >
        <%-lng(section.title)%>
      </div>
      <%}%>
  </div>
  <div ng-include="'ui-<%-tabs.name%>-'+<%-tab%>.activeSection+'.html'">
  </div>

    <%for(var section of tabs.templates){
      %>
      <script type="text/ng-template" id="ui-<%-tabs.name%>-<%-section.name%>.html">
        <%-template(section.path,{data:section.data})%>
      </script>
      <%}%>
</div>
