<div class="field media">
    <div ng-show="!data.__value.location" class="empty" layout="column" layout-align="center">
        <p class="intro">
            <%-lng('editor.media.empty.intro')%>
        </p>
        <p class="description">
            <%-lng('editor.media.empty.action')%>
        </p>

        <div layout="row" layout-align="center center">
          <md-button ng-click="media.editPublic(field,parent,key)" layout="column" aria-label="edit media public">
              <md-icon md-svg-src="<%-get_icon('material/public')%>"></md-icon>
              <span>Public</span>
          </md-button>
          <md-button ng-click="media.editPrivate(field,parent,key)" layout="column" aria-label="edit media private">
              <md-icon md-svg-src="<%-get_icon('material/lock')%>"></md-icon>
              <span>Private</span>
          </md-button>
        </div>

    </div>
    <%-template('edit/main/standard/media-value',{attr:'ng-show="data.__value.location"'})%>
</div>
