<md-list class="numbers">
<%
var count = 0;
for(var item of data){
	item = get_value(item);
	var segment = data.isChild?'':'segment'
  count++;
  %>
  <div class="list-item">

    <md-button class="md-fab md-primary">
    <%-count%>
  </md-button>

  <div class="md-list-item-text">
    <%
    if(item.title){
      %>
      <h3><%-lng(item.title)%></h3>
      <%
    }
    %>
    <p>
      <%-lng(item.text)%>
    </p>
		<%
		if(item.paragraphs){
			for(var paragraph of item.paragraphs){
			%>
			<p><%-lng(paragraph)%></p>
			<%
		}}
		%>
		<%
		if(item.action){
			var action = item.action;
			var attr;
			if(action.href){
				attr = ' ng-href="'+action.href+'"';
			}
			if(action.newWindow){
				attr += ' target="_blank"';
			}
			%>
			<div layout="row">
			<span flex></span>
			<md-button class="md-primary" <%-attr%>><%-lng(action.title)%></md-button>
			</div>
			<%
		}
		%>
  </div>

  <%
  if(item.list){
    item.list.isChild = true;
    %>
    <%-template('content/bullets',{data:item.list})%>
    <%
  }
  %>
</div>
<md-divider ></md-divider>


<%
}
%>
</md-list>
