<md-menu md-offset="0 70" hide show-gt-xs>
  <%if(site.language.icon){
    var buttonClass="md-icon-button"
  }%>
  <md-button class="ui-language <%-buttonClass%>" ng-click="$mdMenu.open()">
    <%if(site.language.icon){%>
    <md-icon md-svg-src="<%-get_icon(site.language.icon)%>"></md-icon>
    <%}else{%>
  <span><%-site.language.value%></span>
  <%}%>
  </md-button>

  <md-menu-content>
    <div class="ui-languages" layout="column">
      <%for(var language of config.languages){
        var langClass = '';
        if(site.lang == language.key){
          langClass = 'selected';
        }
        %>
      <div
      class="<%-langClass%> ag-list-item"
      layout="row"
      target="_self"
      ng-click="changeLanguage('<%-language.key%>')">
      <%if(language.icon){%>
      <md-icon md-svg-src="<%-get_icon(language.icon)%>"></md-icon>
      <%}%>
      <span><%-language.value%></span>
    </div>
    <%}%>
  </div>
</md-menu-content>
</md-menu>
