<%if(page.barebones){%>
  <%-body%>
<%}else{%>
  <!DOCTYPE html>
  <html <%-page.html_attributes%> lang="<%-site.lang%>" ng-app="MainApp">
    <%- template('layout/head') %>

    <body <%-page.body_attributes%> ng-class="[viewData.layoutClass,sidebarClass(),loggedClass(),mediaClass()]" layout="column">

      <%-template('layout/compatibility',null,true)%>
      <%-template('layout/loader',null,true)%>

      <div class="page-loader" ng-hide="loggedClass">
        <div class="loader">Loading...</div>
      </div>

      <div layout="column" flex="100" ng-cloak>

        <%
    var toolbar = config.toolbar || {};
    if(!toolbar.disabled && !page.hiddenToolbar){
      %>
          <%-template('layout/toolbar',{post:page})%>
        <%}%>

        <div id="wrap" flex="100" class='wrap layout-column' data-auto-scroll ng-class="{xs:$mdMedia('xs'), sm:$mdMedia('sm')}">
            <ng-view class="reveal-animation" layout="column"></ng-view>
        </div>

        <%-template('layout/notifications')%>

      </div>

      <%-template('layout/scripts')%>
      <%if(has_template('layout/body-end')){%>
      <%-template('layout/body-end')%>
      <%}%>

    </body>
  </html>
<%}%>
