<%
var onSubmit = null;
var autocomplete = null;

if(_.isString(form)){
	form = get_data('form/presets/'+form);
}

if(form.onSubmit){
	onSubmit = 'ng-submit="'+form.onSubmit+'"';
}

if(form.disableAutocomplete){
	autocomplete = 'autocomplete="off"';
}

%>

<form layout="column" class="ag-margin" <%-onSubmit%> <%-autocomplete%> <%-form.attr%> method="post" name="<%-form.name%>">

	<%-template('form/fields',{data: form
	})%>

	<%
	if(form.submit){
		var title = lng(form.submit.title);
		%>
		<div layout="row" layout-align="end">
		<input class="md-raised md-primary md-button" ng-disabled="<%-form.name%>.$invalid" type="submit" value="<%-title%>"/>
		</div>
		<%
	}else{
		%>
		<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
		<%
	}
	%>

</form>
