<div flex="100" layout="column">

<div layout="row" layout-align="start center">
  <div class="md-toolbar-tools">

    <md-button ng-href="<%-get_path('manager/accounts')%>">Back</md-button>

    <%-template('ui/live-toggle')%>

    <span flex></span>

    <md-button class="md-icon-button" ng-click="filter()">
      <md-icon md-svg-src="<%-get_icon('material/filter-list')%>"></md-icon>
    </md-button>

    <div layout="row" class="search-list" layout-margin layout-align="start center">
      <input flex="auto" on-enter="search.query()" ng-model="search.text" placeholder="Search" aria-label="search page">
      <md-button aria-label="search account" class="md-icon-button" ng-click="search.query()">
        <md-icon md-svg-src="<%-get_icon('material/search')%>"></md-icon>
      </md-button>
      <md-button aria-label="Clear search" ng-show="search.active" class="md-icon-button" ng-click="search.clear()">
        <md-icon md-svg-src="<%-get_icon('material/close')%>"></md-icon>
      </md-button>
    </div>
  </div>
</div>

<md-progress-linear md-mode="{{search.loading?'indeterminate':'determinate'}}"></md-progress-linear>

  <md-content flex="100" class="accounts">
    <div class="items">
      <md-list-item ng-repeat="account in accounts.list" class="account md-long-text md-2-line" md-no-ink ng-click="select(account)">
        <%-template('ui/account-picture')%>
        <div class="md-list-item-text">
          <h3>{{account.name}}
          </h3>
          <p>{{account.email}}</p>
        </div>
      </md-list-item>
    </div>
  </md-content>

<div class="nav" layout="row">
  <md-button class="md-icon-button">
    <md-icon md-svg-src="<%-get_icon('material/keyboard-arrow-left')%>"></md-icon>
  </md-button>
  <span flex="auto">  </span>
  <md-button class="md-icon-button">
    <md-icon md-svg-src="<%-get_icon('material/keyboard-arrow-right')%>"></md-icon>
  </md-button>
</div>
</div>
