<%
var flex = locals.flex||100;
%>
<div flex="<%-flex%>" class="box <%-locals.name%>">

  <div class="header" layout="row" layout-align="start center">
    <p class="title"><%-lng(locals.title)%></p>
    <span flex="auto"></span>
    <%if(locals.actions){for(var action of locals.actions){%>
      <md-button class="md-raised" ng-click="<%-action.click%>"><%-lng(action.title)%></md-button>
    <%}}%>
  </div>

  <div class="content" layout="column">
    <%-template(`system/server/${locals.name}`)%>
  </div>

</div>
