<%
var tag = viewTag();
var footerHidden = !config.footer || page.hiddenFooter;
var viewClass = '';
if(footerHidden){
	viewClass+='footer-hidden';
}
%>
<div <%-tag%> id="view-content" layout="row" ng-keypress="viewData.keypress && onKeyPress($event)" flex layout-align="start stretch">

	<md-sidenav class="view-wrapper md-sidenav-left md-whiteframe-z2 site-menu" ng-class="{unlocked:!menu.isLocked}" md-is-locked-open="menuLock()" md-component-id="menu" layout="column">
		<div ag-menu-side layout="column" flex>
			<%-template('sidebar/toolbar')%>
			<md-progress-linear class="primary loadingBar" md-mode="{{sidebarLoading?'indeterminate':'determinate'}}"></md-progress-linear>
			<md-content flex>
				<%
				var templateSidebar = page.templateSource + '.sidebar';
				if (_.isString(page.sidebar)) {
					templateSidebar = page.sidebar;
				}
				if (!has_template(templateSidebar)) {
					templateSidebar = path.join(page.templateSource, 'index.sidebar');
				}
				if (!has_template(templateSidebar)) {
					templateSidebar = 'sidebar';
				}
				%>
				<%-template(templateSidebar)%>
			</md-content>
			<%if(config.language.extra){%>
				<div layout="row">
				<span class="flex"></span>
				<%if(config.languages_sidebar){%>
					<%-template('layout/languages')%>
					<%}%>
					</div>
					<%}%>
				</div>
			</md-sidenav>

			<md-content flex>
				<div class="view-container <%-viewClass%>" layout="column">
					<%-template(page.template || page.templateSource)%>
						<%if(!footerHidden){%>
						<%-template('layout/footer',null) %>
						<%}%>
					</div>
					<div id="tools" layout="column">
						<%-template('ui/scroll-top')%>
						<%-template('ui/contact')%>
					</div>
				</md-content>

			</div>
