<div class=" summary section layout-padding" layout="column">
    <%for(var field of page.fields){%>
        <%
            switch(field.type){
              case 'input':
              %>
        <div class="field" layout="row" layout-align="start center">
        <md-icon md-svg-src="<%-get_icon(field.icon)%>" class="name"></md-icon>
            <label><%-lng(field.title)%></label>
            <input flex="grow" ng-model="viewAccount.<%-field.prop%>" type="text">
        </div>
        <%
              break;
              case 'switch':
              %>
        <div class="inset">
            <md-switch ng-model="viewAccount.<%-field.prop%>">
                <%-lng(field.title)%>
            </md-switch>
        </div>
        <%
              break;
            }
            %>
    <%}%>

  <div layout="row">
    <md-button ng-if="!viewAccount.deactivated" ng-click="edit.deactivateAccount()" class="md-primary md-raised md-warn">
        <md-icon md-svg-src="<%-get_icon('material/vpn-key')%>"></md-icon>
        <span>Deactivate</span>
    </md-button>
    <md-button ng-click="edit.changePassword()" class="md-primary md-raised">
        <md-icon md-svg-src="<%-get_icon('material/vpn-key')%>"></md-icon>
        <span>Change Password</span>
    </md-button>
    <span flex="auto"></span>
    <md-button class="md-raised md-secondary md-primary" ng-click="edit.save()">
    <md-icon md-svg-src="<%-get_icon('material/save')%>"></md-icon>
    <span>Update</span>
    </md-button>
  </div>

</div>
