<%
var tabs = get_data('account/tabs') || [];
tabs = tabs.concat(page.sections);
%>

<%-template('manager/accounts/toolbar')%>

<div ng-if="viewAccount.deactivated" class="action-warn" layout="row" layout-align="start center">
  <span>Account is deactivated</span>
  <span flex="auto"></span>
  <md-button class="md-raised" ng-click="activateAccount()">Activate</md-button>
</div>

<div class="account-view frame ag-margin md-padding" ng-show="viewAccount" layout="column">
    <%-template('manager/accounts/overview')%>
    <%-template('ui/tabs',{list:tabs})%>
</div>

<%-template('manager/accounts/empty')%>
<%-template('manager/accounts/toast')%>
<%-template('manager/accounts/check')%>
