<%-template('manager/accounts/toolbar')%>

<div ng-if="viewAccount.deactivated" class="action-warn" layout="row" layout-align="start center">
  <span>Account is deactivated</span>
  <span flex="auto"></span>
  <md-button class="md-raised" ng-click="edit.activateAccount()">Activate</md-button>
</div>

<div class="account-view frame ag-margin md-padding" ng-show="viewAccount" layout="column">
    <%-template('manager/accounts/overview')%>
    <div class="content" layout="column">
    <%-template('ui/tabs',{name:'tool',list:page.sections})%>
  </div>
</div>

<%-template('manager/accounts/empty')%>
<%-template('manager/accounts/toast')%>
<%-template('manager/accounts/check')%>
