<md-dialog class="activity">

    <md-toolbar>

        <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
            <span flex></span>
            <p am-time-ago="time"></p>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="<%-get_icon('material/close')%>" aria-label="Cancel"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex="auto">

        <md-tabs class="md-primary" md-dynamic-height md-border-bottom>

            <md-tab label="Info">
                <md-content class="md-padding">
                    <div>
                        <%
                            for(var row of page.request){
                            %>
                            <md-list-item class="entry" layout="row">
                            <md-icon md-svg-src="<%-get_icon(row.icon)%>" aria-label="Icon"></md-icon>
                                <div class="md-list-item-text first" layout="column">
                                    <p class="title">
                                        <%-lng(row.title)%>
                                    </p>
                                </div>
                                <span flex="" class="flex"></span>
                                <div class="md-list-item-text" layout="column">
                                    <p>{{data.request.<%-row.name%>}}</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                        <%
                            }
                            %>
                    </div>
                </md-content>
            </md-tab>

             <md-tab  label="Data">
                <md-content>
                    <textarea code-activity></textarea>
                </md-content>
            </md-tab>

        </md-tabs>

        <%-template('ui/loader')%>

    </md-content>

    <md-dialog-actions layout="row" md-whiteframe="2">
        <span flex></span>
        <md-button ng-click="close()">
            <%-lng('general.close')%>
        </md-button>
    </md-dialog-actions>

</md-dialog>
