<md-dialog class="dialog-file">

    <md-toolbar>

        <div class="md-toolbar-tools">
            <div layout="column">
                <h2 class="title">{{file.type}}</h2>
                <h2 ng-show="!file.location" class="title"><%-lng(page.empty.title)%></h2>
            </div>
            <span flex></span>
            <p>{{file.size}}</p>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="<%-get_icon('material/close')%>" aria-label="Cancel"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div layout="row" class="md-padding" layout-align="start center">
        <%-template('partial/file/preview')%>
            <%-template('partial/file/summary')%>
    </div>

    <%-template('ui/loader')%>
        <md-progress-linear ng-show="progress" md-mode="determinate" value="{{progress}}"></md-progress-linear>

        <md-dialog-actions ng-if="file.id" layout="row" md-whiteframe="2">
            <md-button ng-click="delete()" class="md-warn">
                <md-icon md-svg-src="<%-get_icon('material/delete')%>"></md-icon>
                <span><%-lng('general.delete')%></span>
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()">
                <%-lng('general.cancel')%>
            </md-button>
            <md-button class="md-primary" ng-click="save()">
                <%-lng('general.apply')%>
            </md-button>
        </md-dialog-actions>

</md-dialog>
