<md-dialog class="dialog-file">

    <%-template('partial/file/toolbar')%>

    <div layout="row" class="md-padding">
        <%-template('partial/file/preview')%>
        <%-template('partial/file/fields')%>
    </div>

    <%-template('ui/loader')%>
    <%-template('partial/file/actions')%>
    <%-template('partial/file/roles')%>
    <%-template('partial/file/footer')%>

</md-dialog>
