<md-dialog aria-label="Re-enter your password">

  <md-toolbar>

    <div class="md-toolbar-tools">
      <h2><%-lng(page.title)%></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <md-icon md-svg-src=<%-get_icon("material/close")%> aria-label="Cancel"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content style="max-width:500px;max-height:600px; ">
    <%
  var form =
  {
    name: 'formPass',
    onSubmit: 'submitPassword()',
     fields:[
    'password_new',
    'password_confirm'
    ]
  };
  %>

  <%-template('form',{form:form})%>
  <%-template('ui/loader')%>

  </md-dialog-content>

  <md-dialog-actions layout="row" md-whiteframe="2">
    <span flex> </span>
    <md-button  ng-click="close()">
      <%-lng('general.cancel')%>
    </md-button>
    <md-button ng-click="submitPassword()" ng-disabled="formPass.$invalid" md-autofocus class="md-raised md-primary">
      <%-lng('general.change')%>
    </md-button>
  </md-dialog-actions>

</md-dialog>
