<div layout="column"
  class="content ag-margin">

  <form name="formCompose">
    <div class="fields ag-margin"
      layout="column">

      <div class="header box ag-margin"
        layout="column">
        <%-template('dialog/email-compose/address',page.field.to)%>
          <%-template('dialog/email-compose/field',page.field.subject)%>
      </div>

      <div class="field message">
        <%-template('ui/text-editor',{
        model: 'message'
      })%>
      </div>

      <%-template('./attachments')%>

    </div>

  </form>

  <div layout="row"
    class="footer"
    layout-align="end center">
    <md-button ng-click="send()">
      Send
    </md-button>
  </div>

</div>

<%-template('ui/loader')%>