<%-template('dialog/file/toolbar')%>

<div layout="row" class="md-padding">
  <%-template('dialog/file/preview')%>
  <%-template('dialog/file/fields')%>
</div>

<%-template('ui/loader')%>
<%-template('dialog/file/actions')%>
<%-template('dialog/file/roles')%>
<%-template('dialog/file/footer')%>
