<div class="ag-margin selection"
  layout="row"
  layout-align="start center">


  <p class="title">
    <%-lng(locals.title)%>:
  </p>

  <div class="ag-margin"
    layout="column">

    <div class="ag-margin"
      layout="row">
      <%for(var item of locals.list){%>
        <md-button ng-click="<%-locals.method%>('<%-item.name%>')"
          ng-class="{selected:<%-locals.model%>=='<%-item.name%>'}">
          <md-icon md-svg-src="<%-get_icon(item.icon)%>"
            aria-label="<%-item.name%>">
          </md-icon>
          <span>
            <%-lng(item.title)%>
          </span>
        </md-button>
        <%}%>
    </div>


    <%for(var item of locals.list){
      if(item.message){%>
      <span class="message"
        ng-show="<%-locals.model%>=='<%-item.name%>'">
        <%-lng(item.message)%>
      </span>
      <%}}%>

  </div>


</div>