<%

var extraClass = locals.extraClass || '';
var extraAttrs = locals.extraAttrs || '';
var url = href;

var disabled = locals.disabled?'ng-disabled="'+locals.disabled+'"':'';

var click = locals.click?'ng-click="'+locals.click+'"':'';
var href = locals.href?'ng-href="'+locals.href+'"':'';

var noInk = locals.noInk?'md-no-ink':'';

var type = 'button';

var raised;

if(!noInk){
	raised = 'md-raised';
}

if(href){
	type= 'a';
}

%>

<<%-type%> class="<%-noInk%> <%-raised%> md-primary md-button <%-extraClass%>" <%-extraAttrs%> bg type="button" <%-click%> <%-href%> <%-disabled%> aria-label="<%-title%>">

<%
if(locals.icon){
	%>
	<md-icon md-svg-src=<%-get_icon(icon)%>></md-icon>
	<%
}
%>
<span class="ng-scope">
	<%-title%>
</span>
</<%-type%>>
