<%
var accept;
var uploadMethod = field.uploadMethod || 'upload';

if(field.accept){
  accept = `ngf-accept="'${field.accept}'"`;
}
%>

<md-input-container layout="column" class="<%-field.class%>">

  <%-template('form/title')%>
  <%-template('form/description')%>

  <form-attachment class="row" ng-model="<%-field.model%>" layout="row" layout-align="start center">
    <div ng-if="<%-field.model%>" class="attachment" layout="row" layout-align="start center" flex="auto">
      <span class="filename">{{<%-field.model%>.name}}</span>
      <span>{{<%-field.model%>.size | filesize}}</span>
      <span flex="auto"></span>
      <span am-time-ago="<%-field.model%>.updatedAt | amUtc | amLocal"></span>
    </div>
    <span ng-if="!<%-field.model%>">Nothing attached yet</span>

    <md-button class="md-primary" type="file" <%-accept%> ngf-select="<%-uploadMethod%>($file)">
      <md-icon md-svg-src="<%-get_icon('material/file-upload')%>"></md-icon>
      Upload
    </md-button>

  </form-attachment>

</md-input-container>
