<%

var form = locals.data || locals.field;
for(var fieldProp of form.fields){

	var field = form_field(fieldProp,form);
	var data = {
		field: field
	};

	////

	var ngShow = '';
	if(field.show){
		ngShow = 'ng-show="'+field.show+'"';
	}

	var ngIf = '';
	if(field.if){
		ngIf = 'ng-if="'+field.if+'"';
	}
	
	if(field.if_relative){
		ngIf = `ng-if="${field.lastWithName.model}.${field.if_relative}"`;
	}

	%>
    <div class="field <%-field.class%>" <%-ngShow%> <%-ngIf%> <%-field.attr_base%>>
			<%if(field.group){%>
        <%-template('form/'+field.group,data)%>
			<%}%>
    </div>
<%
}
%>
