<%-template('form/description')%>
<div layout="row" layout-align="end center">
  <md-input-container flex md-no-float class="md-block">
<%if(field.title){%>
<p class="title" for="<%-field.name%>"><%-lng(field.title)%></p>
<%}%>
<input ng-model="<%-field.model%>" aria-label="<%-field.name%>" name="<%-field.name%>" type="<%-field.type%>" <%-formValidators(field)%> <%-field.attr%>>
<%-template('form/messages')%>
</md-input-container>
<%-template('form/postfix')%>
</div>
