<%-template('form/description')%>
<div layout="row" layout-align="end center">
  <md-input-container flex md-no-float class="md-block password-field">
    <%if(field.title){%>
      <p class="title"><%-lng(field.title)%></p>
      <%}%>
      <input ng-model="<%-field.model%>" aria-label="<%-field.name%>" name="<%-field.name%>" type="<%-field.type%>" <%-formValidators(field)%> <%-field.attr%>>
      <div ng-show="<%-field.prop%>.strength" class="password-strength score-{{<%-field.prop%>.strength.score}}" layout="column">
        <div class="messages">
          <%for(var message of field.messages){%>
            <span class="message" ng-show="<%-field.prop%>.strength.score==<%-message.value%>">
            <%-lng(message.title)%>
            </span>
            <%}%>
          </div>
        <div class="progress" layout="row" layout-align="start center">
          <span class="title">Strength: </span>
          <md-progress-linear flex md-mode="determinate" value="{{<%-field.prop%>.strength.percentage}}"></md-progress-linear>
        </div>
          <div ng-show="<%-field.prop%>.feedback" class="feedback">
            <p class="warning">{{<%-field.prop%>.feedback.warning}}</p>
            <ul class="suggestions">
              <li ng-repeat="suggestion in <%-field.prop%>.feedback.suggestions">{{suggestion}}</li>
            </ul>
          </div>
        </div>
        <%-template('form/messages')%>
      </md-input-container>
    </div>
