<%if(field.title){%>
<p><%-lng(field.title)%></p>
<%}%>
<%-template('form/description')%>
<md-radio-group name="<%-field.name%>" ng-model="<%-field.model%>" <%-formValidators(field)%>>
  <%
  if(_.isArray(field.options)){
    for(var option of field.options){%>
      <md-radio-button value="<%-option.value%>" class="md-primary">
      <%-lng(option.title)%>
      </md-radio-button>
      <%}
    }%>
    <%
    if(_.isString(field.options)){
      %>
      <md-radio-button ng-repeat="option in <%-field.options%>" value="{{option.<%-field.optionValue||'value'%>}}" class="md-primary">
      {{option.label}}
      </md-radio-button>
      <%}%>
    </md-radio-group>

    <%-template('form/messages')%>
