<%-template('ui/loader')%>

<md-toolbar class="bg-warn">
  <div class="md-toolbar-tools">
    <md-icon class="header-icon" md-svg-src=<%-get_icon( "material/warning")%>></md-icon>
    <h2><%-lng(page.title)%></h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="close()">
      <md-icon md-svg-src=<%-get_icon( "material/close")%> aria-label="Close dialog"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-dialog-content class="md-dialog-content" ng-bind-html="data.content">
</md-dialog-content>

<md-dialog-actions layout="row">
  <md-button ng-click="close()">
    <%-lng('general.close')%>
  </md-button>
  <md-button class="md-raised md-primary" ng-click="action()">
    <%-lng(page.action.title)%>
  </md-button>
</md-dialog-actions>
