<div class="field array ag-margin" data-as-sortable="dragControlListeners" data-ng-model="data.__value">

  <div ng-repeat="(key,child) in data.__value" ng-init="childField=getField(field,child);" data-as-sortable-item>
    <div edit-item-menu data-as-sortable-item-handle class="header highlight md-padding" layout="row" layout-align="start center">
      <%-template('edit/content/label',{model:'childField.title',prefix:'{{$index+1}}.'})%>
      <%-template('edit/content/fields-inline')%>

      <div class="field-menu">

      <%-template('edit/content/expander',{if:"childField.type == 'array'"})%>
      <%-template('edit/content/contributors')%>
      </div>

    </div>
    <div ng-init="parent=data; parentField=field; field=childField; data=child">
      <%-template('edit/content/fields-standard',{attr:'class="array-cont"'})%>
    </div>
  </div>

  <md-divider>
  </md-divider>

  <div class="add-value-row" layout="row" layout-wrap>
    <md-button class="property" ng-click="addValue(field,data,key)" ng-init="key=value.name" ng-repeat="(index,value) in field.fields">
      <md-icon ng-if="value.icon" md-svg-icon="{{get_icon(value.icon)}}"></md-icon>
      <span>{{value.title||key}}</span>
    </md-button>
  </div>

</div>
