<div layout="column" class="summary">
<md-input-container>
    <label>Name</label>
    <input ng-model="file.name">
</md-input-container>

<md-input-container>
    <label>Directory</label>
    <input ng-disabled="config.dirLock" ng-model="file.dir">
</md-input-container>

<span flex></span>

<div layout="column" layout-align="left" align="left" class="actions">
  <md-button ng-click="select()">
      <md-icon md-svg-src="<%-get_icon('agneta/media')%>" aria-label="<%-lng('portal.media')%>"></md-icon>
      <span><%-lng('portal.media')%></span>
  </md-button>
  <md-divider></md-divider>
  <md-button class="md-no-style" type="file" ngf-accept="accept" ngf-select="upload($file)">
      <md-icon md-svg-src="<%-get_icon('material/file-upload')%>" aria-label="upload"></md-icon>
      <span>Upload</span>
  </md-button>
  <md-button ng-show="file.id" href="{{file.url}}" target="_blank" download="{{file.name}}">
      <md-icon md-svg-src="<%-get_icon('material/file-download')%>" aria-label="Download"></md-icon>
      <span>Download</span>
  </md-button>
</div>
</div>
