<md-toolbar>
  <div class="md-toolbar-tools">
    <md-icon class="header-icon" md-svg-src=<%-get_icon( "material/person")%>></md-icon>
    <h2><%-lng(page.title)%></h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="close()">
      <md-icon md-svg-src=<%-get_icon( "material/close")%> aria-label="Cancel"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-dialog-content>
  <%if(page.description){%>
    <p class="md-padding">
    <%-lng(page.description)%>
    </p>
    <md-divider>
    </md-divider>
    <%}%>
    <div class="md-padding">
      <%-template('form',{form:page.form})%>
    </div>

    <div class="options md-padding" layout="column">
      <%for(var item of page.options){
        if(item.isConfig){
          if(!_.get(config,item.isConfig)){
            continue;
          }
        }
        %>
      <div class="option" layout="row" layout-align="start center">
        <span>
          <%-lng(item.message)%>
        </span>
        <span flex>
        </span>
        <md-button ng-click="<%-item.click%>">
          <%-lng(item.action)%>
        </md-button>
      </div>
      <%}%>
    </div>

    <%-template('ui/loader')%>

  </md-dialog-content>

  <md-dialog-actions layout="row" md-whiteframe="2">
    <span flex> </span>
    <md-button ng-click="close()">
      <%-lng('general.cancel')%>
    </md-button>
    <md-button ng-click="submit()" ng-disabled="formLogin.$invalid" md-autofocus class="md-raised md-primary">
      <%-lng('general.login')%>
    </md-button>
  </md-dialog-actions>
