<md-dialog aria-label="<%-lng(page.title)%>" class="<%-page.class%>">

    <md-toolbar>

        <div class="md-toolbar-tools">
            <h2><%-lng(page.title)%></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="<%-get_icon('material/close')%>" aria-label="Cancel"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-padding" style="max-width:500px;max-height:600px; ">

        <%-template(locals.content)%>
            <%-template('ui/loader',null,true)%>

    </md-dialog-content>

    <md-dialog-actions layout="row" md-whiteframe="2">
        <span flex></span>
        <md-button ng-click="close()">
            <%-lng('general.cancel')%>
        </md-button>
        <%
        var labelSubmit = (page.action && page.action.submit) || 'general.add';
         labelSubmit = lng(labelSubmit);
        %>
            <md-button ng-click="submit()" ng-disabled="<%-locals.disabled%>" md-autofocus class="md-raised md-primary">
                <%-labelSubmit%>
            </md-button>
    </md-dialog-actions>

</md-dialog>
