<div class="md-padding ag-margin toolbar" layout="row" layout-align="start center">
    <h2><%-lng(page.title)%></h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="close()">
      <md-icon md-svg-src=<%-get_icon("material/close")%> aria-label="Cancel"></md-icon>
    </md-button>
</div>

<md-dialog-content>
  <%-template('form',{form:page.form})%>
  <%-template('ui/loader')%>
</md-dialog-content>

<md-dialog-actions layout="row" md-whiteframe="2">
  <span flex> </span>
  <md-button  ng-click="close()">
    <%-lng('general.cancel')%>
  </md-button>
  <md-button ng-click="register()" ng-disabled="formRegister.$invalid" md-autofocus class="md-raised md-primary">
    <%-lng(page.action)%>
  </md-button>
</md-dialog-actions>
