<div class="frame top" layout="column" layout-margin>
  <%-template('ui/page-title')%>

  <div layout="row" layout-wrap layout-margin>

    <div layout="column" class="box">
      <p class="title">
        <b>Versions</b>
      </p>
      <p>Agneta Platform:
        <%-site.version.agneta%></p>
        <p>Node.js:
          <%-site.version.node%></p>
          <p>NPM:
            <%-site.version.npm%></p>
          </div>

          <div layout="column" class="box git">
            <p class="title">
              <b>GIT</b>
            </p>
            <div>
              <p>Local branch: {{graph.branch.local}}</p>
              <p>Remote branch: {{graph.branch.remote}}</p>
            </div>
            <div class="warn" ng-if="graph.behind" layout="row" layout-align="start center">
              <span class="message">Your branch is behind by {{graph.behind}} commits.<br>You will need to update before pushing changes.</span>
              <span flex="auto"></span>
              <md-button class="md-raised" ng-click="update()">Update</md-button>
            </div>
            <div layout="column" class="log">
              <div class="commit" ng-repeat="commit in graph.shortLog" ng-class="{current:graph.current.hash==commit.hash}" layout="row" layout-margin layout-align="start center">
                <%-template('system/server/git-commit')%>
              </div>
              <span ng-if="graph.behind>graph.shortLog.length+1" class="rest">...</span>
              <div ng-if="graph.behind>graph.shortLog.length" ng-init="commit=graph.current" class="commit current" layout="row" layout-margin layout-align="start center">
                <%-template('system/server/git-commit')%>
              </div>
            </div>
            <md-divider></md-divider>
            <div layout="row">
              <span flex="auto"></span>
              <md-button class="md-raised" ng-click="fetch()">Fetch</md-button>
            </div>
          </div>

          <span flex="auto"></span>

        </div>

      </div>
