<div class="frame top" layout="column" layout-margin>
  <%-template('ui/page-title')%>

  <div layout="row" layout-wrap layout-margin>

    <%-template('system/server/versions')%>
    <%-template('system/server/git')%>
    <%-template('system/server/logs')%>
    <%-template('system/server/instances')%>

  </div>

</div>
