<div class="frame top" layout="column" layout-margin>
  <%-template('ui/page-title')%>

  <div layout="row" layout-margin>
    <%-template('system/server/box',page.box.versions)%>
    <%-template('system/server/box',page.box.git)%>
  </div>
  <%-template('system/server/box',page.box.logs)%>
  <%-template('system/server/box',page.box.instances)%>

</div>
