<%-template('manager/accounts/toolbar')%>

<div ng-if="viewAccount.deactivated" class="action-warn" layout="row" layout-align="start center">
  <span>Account is deactivated</span>
  <span flex="auto"></span>
  <md-button class="md-raised" ng-click="activateAccount()">Activate</md-button>
</div>

<div layout="row" class="md-padding">
  <span>ID: {{viewAccount.id}}</span>
</div>

<div ng-show="viewAccount">
  <div layout="column" layout-gt-sm="row" class="boxes">
    <div flex="50" layout="column">
      <%-template('manager/accounts/overview')%>
      <%-template('manager/accounts/activities')%>
    </div>
    <div flex="50" layout="column">
      <%-template('manager/accounts/fieldset')%>
      <%-template('manager/accounts/roles')%>
      <%-template('manager/accounts/ssh')%>
    </div>
  </div>

  <div ng-if="!viewAccount.deactivated" class=" action-warn">
    <md-button class="md-raised" ng-click="deactivateAccount()">Deactivate</md-button>
  </div>

</div>

<%-template('manager/accounts/empty')%>
<%-template('manager/accounts/toast')%>
<%-template('manager/accounts/check')%>
