<%-template('manager/accounts/toolbar')%>

<div ng-if="viewAccount.deactivated" class="action-warn" layout="row" layout-align="start center">
  <span>Account is deactivated</span>
  <span flex="auto"></span>
  <md-button class="md-raised" ng-click="activateAccount()">Activate</md-button>
</div>

<div ng-show="viewAccount">
  <div layout="column">
    <%-template('manager/accounts/overview')%>

    <div ng-init="activeSection='<%-page.defaultSection%>'" class="layout-wrap menu" layout="row" layout-align="start center">
      <%for(var section of page.sections){%>
        <md-button class="item" ng-class="{active:activeSection=='<%-section.name%>'}" ng-click="activeSection='<%-section.name%>'">
        <%-lng(section.title)%>
        </md-button>
        <%}%>
      </div>

      <div>
        <%for(var section of page.sections){%>
          <div ng-show="activeSection=='<%-section.name%>'">
          <%-template('manager/accounts/'+section.name)%>
          </div>
          <%}%>
        </div>
      </div>

    </div>

    <%-template('manager/accounts/empty')%>
    <%-template('manager/accounts/toast')%>
    <%-template('manager/accounts/check')%>
