<%
  var authAllow = services_config('activity').auth.allow;
%>

<md-list>

    <%for(var group of page.viewData.groups){%>
    <div>
    <md-subheader class="md-no-sticky">
    <%if(group.icon){%><md-icon md-svg-src="<%-get_icon(group.icon)%>"></md-icon><%}%>
    <span flex="auto"><%-lng(group.title)%></span>
    </md-subheader>
    <%for(var groupType of group.types){

      var authorization = authAllow[groupType.value];
      authorization = ['administrator'].concat(authorization);
      %>

        <%if(groupType.value=='divider'){%>
          <md-divider></md-divider>
        <%}else{%>
        <div class="ag-list-item" ng-class="type == '<%-groupType.value%>' ? 'active' : false" ng-click="changeType('<%-groupType.value%>')">
            <%-template('ui/has-role',{authorization:authorization})%>
            <span flex="auto"><%-lng(groupType.title)%></span>
        </div>
        <%}%>
    <%}%>
    <md-divider ></md-divider>
    <%}%>
    </div>
</md-list>
