<head profile="http://www.w3.org/1999/xhtml/vocab">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<%

var page_title = lng(config.title) + ' | '+ get_title(page);
var cover_image = get_cover();
page_url = url_join(site.host_web,get_path());

%>

<title ng-bind="pageTitle()">
  <%-page_title%>
</title>

<meta name="viewport" content="width=device-width, initial-scale=1" >
<link href="<%-page_url%>" rel="canonical">

<%
  //////////////////////////////////////////////////////////////////////////
  // METADATA FOR SEARCH ENGINES AND SOCIAL MEDIA
  //////////////////////////////////////////////////////////////////////////

  var description = page['description_'+site.lang] ||
  (page.description?lng(page.description):null) ||
  (page.intro?lng(page.intro):null);

  if(description>255){
   throw "Description is more than 255 characters"
 }
 %>
<%if(cover_image){%>
 <link href="<%-cover_image%>" rel="image_src">
 <meta content="<%-cover_image%>" property="og:image"/>
 <meta content="<%-cover_image%>" name="twitter:image:src"/>
 <%}%>
 <%if(config.facebook){%><meta content="<%-config.facebook.id%>" property="fb:app_id"/><%}%>
 <meta content="article" property="og:type"/>
 <meta content="<%-page_title%>" property="og:title"/>
 <meta content="<%-page_url%>" property="og:url"/>
 <meta content="<%-lng(config.title)%>" property="og:site_name"/>
 <meta content="summary_large_image" name="twitter:card"/>
 <meta content="<%-page_title%>" name="twitter:title"/>
 <%if(description){%><meta content="<%-description%>" name="description"/><%}%>

 <%if(
   site.env!='production' ||
   page.authorization
 ){%>
 <meta name="robots" content="noindex">
 <meta name="googlebot" content="noindex">
 <%}%>

 <%if(config.styles){%>
 <%for(var style of config.styles){%>
 <link href="<%-style%>" rel="stylesheet">
 <%}}%>
 <%
    //////////////////////////////////////////////////////////////////////////
    // RSS - FAVICON
    //////////////////////////////////////////////////////////////////////////
    %>
    <% if (config.rss){ %>
    <link href="<%- config.rss %>" rel="alternative" title="<%= lng(config.title) %>" type="application/atom+xml">
    <% } %>
    <% if (config.favicon){ %>
    <link href="<%- config.favicon %>" rel="icon">
    <% } %>
    <%
        //////////////////////////////////////////////////////////////////////////
    // Styles
    //////////////////////////////////////////////////////////////////////////
    %>
    <%-css('lib/angular-material.min')%>
    <%- css('theme') %>
    <%if(has_file('style.styl')){%>
    <%- css('style') %>
    <%}%>
  <%
  if(page.head_scripts){
    for(var head_script of page.head_scripts){
      %>
      <%-js(head_script)%>
      <%
    }
  }
  %>

  <%
  if(config.cookies){
  var cookies = get_data('cookies');
  %>

  <script type="text/javascript">
    window.cookieconsent_options = {
      "message":"<%-lng(cookies.message)%>",
      "dismiss":"<%-lng(cookies.acceptText)%>",
      "learnMore":"<%-lng(cookies.policyText)%>",
      <%if(cookies.link){%>"link":"<%-cookies.link%>",<%}%>
      "theme":false
    };
    </script>

  <%-js('lib/cookieconsent.min')%>

<%}%>

<base href="/">

<%-js('lib/ua-parser.min')%>
<%-js('main/compatibility')%>
</head>
