<%
var toolbar = config.toolbar || {};
if(!toolbar.disabled){
%>
<md-menu-toolbar md-whiteframe="4" class="site-content-toolbar">
	<div class="md-toolbar-tools" ng-cloak>

	<%-template('layout/toolbar/menu')%>

	<%if(config.languages_toolbar){%>
		<%-template('layout/languages')%>
		<%}%>

		<%-template('ui/search')%>

		<span class="flex"></span>

		<div ng-include="viewData.toolbar">
		</div>
		<%-template('ui/uploader')%>
		<%-template('layout/toolbar/memory')%>

		<%if(has_path('login')){%>

			<div class="user-check account" layout="row">

			<%-template('ui/loader',{diameter: 34})%>

			<div ng-show="!account" layout="row">

			<%-template('ui/button',{
				title:lng('general.login'),
				href: get_path('login'),
			}
		)%>

		<% if(has_path('register')){%>
			<%-template('ui/button',{
				title:lng('general.register'),
				href: get_path('register'),
				extraClass: 'hide show-gt-xs'
			}
		)%>
		<% } %>

		</div>
		<%-template('ui/account-menu')%>
		</div>

		<%}%>

	</div>
</md-menu-toolbar>
<%}%>
