<div flex="100" layout="column" class="dir">

    <div ng-hide="isSearching || searchResults" layout="row" layout-align="start center" class="toolbar md-padding">
        <div class="location" layout="row" layout-align="start center">
        <div class="entry" ng-repeat="dir in dirs">
            <md-icon ng-if="$index!=0" md-svg-src="<%-get_icon('material/keyboard-arrow-right')%>"></md-icon>
            <span ng-click="openFolder(dir.location)">{{dir.name}}</span>
        </div>
      </div>
      <span flex="auto"></span>
      <%-template('edit/media/toolbar')%>
    </div>

    <div ng-hide="isSearching || searchResults" flex="100" layout="column">
        <%-template('ui/loader')%>
                <%-template('edit/media/directory',{
                  sizes: 'md-cols="2" md-cols-sm="4" md-cols-md="6" md-cols-gt-md="8" md-cols-gt-lg="10" md-cols-gt-xl="12"'
                })%>
    </div>

    <div ng-show="isSearching || searchResults" flex="100" layout="column">

      <div class="md-padding" ng-show="isSearching" flex="100" layout="row" layout-sm="column" layout-align="center center">

        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <div ng-hide="isSearching" layout="column">
      <div
      ng-repeat="object in searchResults"
      ng-click="objectClick(object)"
      ng-mouseover="object.hovered = true"
      ng-mouseleave="object.hovered = false"
      >
    <%-template('edit/media/item',get_data('media').search)%>
    </div>
    </div>

    <%-template('edit/media/footer')%>
</div>
