<%-template('_layout/header')%>
<%-template('_layout/title')%>
<tr>
  <td align="center" class="body-copy">
        <%-lng(intro)%>
  </td>
</tr>
<%-template('_layout/fields')%>
  <tr>
    <td align="center" class="body-copy">
          <%-lng(outro)%>
    </td>
  </tr>
  <%-template('_layout/footer')%>
