<md-content class="select">
  <div  class="md-padding">
    <%-lng(page.message)%>
  </div>
  <md-list>
    <%
    var options = [];
    for(var option of options){
      %>
      <md-list-item ng-click="select('<%-option.name%>')" ng-class="{selected: selected==='<%-option.name%>'}">
      <md-icon md-svg-src="<%-get_icon(option.icon)%>"></md-icon>
      <%-lng(option.title)%>
      </md-list-item>
      <%}%>
    </md-list>
  </md-content>
